
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: white;
}
 
body {
  background-color: powderblue;
  width: 600px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #ff00ff;  /* Fuchsia */
	text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: red;
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 75%;
}

/* change the font for the entire quesiton seection */
.radio_question {
  font-family: 'Noto Sans', sans-serif;
  color: #197BBD; /* Light blue */
}

.radio_question p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #7019BD; /* Dark purple */
  margin-top: 45px;
  font-size: 18px;
}

/* spacing out for the 3 option radio question */
.radio_question div {
  margin-bottom: 20px;
}

/* spacing out the options for the search bar radio question */
.radio_question_2 div {
  color: #106549; /* tourqoize green */
  margin-bottom: 18px;
  font-size: 15px;
}

/* For the text of search bar question */
.radio_question_2 p {
  margin-top: 60px;
  font-weight: bold;
  font-size: 18px;
  color: #E87390; /* toned out pink */
}

/* Custom font for this section */
.radio_question_2 {
  font-family: 'Playfair Display', serif;
}